---
// import AnimScroll from "../../hooks/AnimScroll";
---

<div class="container_all padding_top">
  <div class="group">
    <div class="w-[40%] m-auto pt-10 md:w-[25%]">
      <img class="w-[200px] m-auto" src="/assets/logotipo.png" alt="logo venues snacks" />
    </div>
  </div>
  <div class="group">
    <!-- Asegúrate de que AnimScroll se pueda usar del lado del cliente si es necesario, o reemplázalo con una alternativa compatible -->

    <h1 class="text-center mt-10 text-[30px] size_text_one md:text-6xl">El aliado perfecto</h1>
    <p class="text-center text-black md:text-[30px] pb-2 regular">
      en <strong> alimentos y bebidas</strong> para eventos
      <strong> masivos.</strong>
    </p>

    <p class="text-center md:text-[30px] pb-10 md:pb-28 text-gold">
      <strong>Especializados en entretenimiento.</strong>
    </p>
  </div>
</div>
